.git
.gitignore
.env
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
bootstrap/cache
npm-debug.log
Dockerfile
docker-compose.yml